body {
	width:100%;
	height:100%;
}

.navbar {
	display: inline;
}

#nav_space {
	display:inline;
  text-align: center;
  padding-left: 1em;
  padding-right:1em;
  
}

#header {
	width:auto;
	height: auto; 
}

#bigboat {
	width:auto;
	height: auto;
	text-align: center;
}

#subheader {
	width:auto;
	background-color:#4470F2;
	height: auto; 
}

#bigmap {
	background-image:url('img/oronteus_finaeus.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center; 
}