body {

  background-image: url("/img/oronteus_finaeus_opa_blur_4.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat:no-repeat;


}

.header_wrap {
	width:100%;
	background-color: #F5F5F5; 
	opacity: .85;

}

.landing_wrap {
	margin: 20% 0 21%;
	background-color: none;
}


.feature_wrap {
	width:100%;
	background-color: #F4F3EE; 
	opacity: .95;
	margin-top: 5%;
	padding: 7% 0 7%;
}

.header {
  position: relative;
  width: 100%;
  max-height: 35%;
  height: auto;
  background-color: #F5F5F5;
  opacity: .85;

}

.header img {
  position: relative;
  height: auto;
  width: auto;
  max-width: 50%;
  max-height: 40%;
  

}

nav {
  position: relative;
  height: auto;
  width: auto;
  opacity: .65;
  float: bottom;
  
}

nav ul {
  height: auto;

}

nav li {
  display: inline;
  font-size: 14px;
  



}

nav a {
  text-decoration: none;
  color: gray;


}


li {

  padding: 1%;
  margin: 0;
  list-style-type: none

}

.feature {
  background-color: #F4F3EE;
  opacity: .75;
  width: 100%;
  margin-top: 2%;
  max-height: 35%;
  text-align: center;
}

.feature img {
    margin-bottom: 5%;
    max-width: 100%;
    max-height: 100%;
}

.text {
  background-color: #F5F5F5;
  opacity: .85;
  width: 100%;
  margin-top: 2%;
  height: 50%;
  text-align: center;
}

.landing {
  /*background-color: #F5F5F5;
  opacity: .85;*/
  width: 100%;
  margin-top: 2%;
  height: 50%;
  text-align: center;
  color: #F0F8FF;
}



