<div id="nav_space">
	<nav>
	
	   <div class="navbar"> <a href='/'>Home</a></div>
	   <div class="navbar"> <a href='#'>About</a></div>
	   <div class="navbar"> <a href='#'>Services</a></div>
	   <div class="navbar"> <a href='#'>Contact</a></div>
	   <div class="navbar"> <a href='#'>Users</a></div>
	
  
   
  </nav>
</div>