<div id="nav_space">
	<nav>
	
	   <div class="navbar"> <a href='/'>Home</a></div>
	   <div class="navbar"> <a href='/posts'>Posts</a></div>
	   <div class="navbar"> <a href='/posts/new'>New Post</a></div>
	   <div class="navbar"> <a href='/users'>Users</a></div>
	
  
   <div class="navbar"><%= authentication %> </div>
  </nav>
</div>