<div class='landing_wrap'>
 <div class="container"
  <div class="row">
    <div class="twelve columns about">
      <h4>Darrell D. E. Long</h4>
      <h5>Kumar Malavalli Professor</h5>
      <p>Dr. Darrell D.E. Long is Professor of Computer Science at the University of California, Santa Cruz. He holds the Kumar Malavalli Endowed Chair of Storage Systems Research and is Director of the Storage Systems Research Center.</p>
      <p>He received his B.S. degree in Computer Science from San Diego State University, and his M.S. and Ph.D. from the University of California, San Diego. His dissertation advisor was Jehan-François Pâris.</p>
      <p>He is a Fellow of the Institute of Electrical and Electronics Engineers and of the American Association for the Advancement of Science. He is a member of the IEEE Computer Society, the Association for Computing Machinery, the American Society for Engineering Education, the Usenix Association, Upsilon Pi Epsilon and Sigma Xi.</p>
      <p>He is Professor ad Honorem de la Universidad Católica del Uruguay. He has been Visiting Professor at the University of Technology, Sydney, and Professeur Invité at the Université Paris–Dauphine, the Conservatoire National des Arts et Métiers and the Université Paris–Descartes.</p>
      <p>He has broad research interests in many areas of mathematics and science, and in the area of computer science include data storage systems, operating systems, distributed computing, reliability and fault tolerance, and computer security. His research has been supported by the National Science Foundation, the Department of Energy (Office of Science and National Nuclear Security Administration), Lawrence Livermore, Los Alamos and Sandia National Laboratories, the Office of Naval Research, and a number of industrial sponsors that include IBM, Microsoft, NetApp, Symantec, LSI Logic, Samsung, Hewlett-Packard and Data Domain.</p>
      <p>He served as the Vice Chair and then Chair of the University of California Committee on Research Policy. He has served on the University of California President’s Council on the National Laboratories, and on the Science and Technology, National Security and Intelligence committees. He currently serves on the Science and Technology committee for both Los Alamos and Lawrence Livermore National Laboratories. He served on the National Research Council Standing Committee on Technology Insight-Gauge, Evaluate and Review. He continues to serve on numerous committees and advisory panels for various Federal government agencies.</p>
    </div>
   </div>
  </div>