<div class='landing_wrap'>
 <div class="container" 
  <div class="row">
    <div class="twelve columns landing">
      <h3>In a world of compromise, some don't</h3>
      <h5>-Offering help in an uncertain world</h5>
    </div>
   </div>
  </div>
  <div class='feature_wrap'>
   <div class="container">
    <div class="row" >
      <div class="one-third column feature">

          <h5>Services</h5>
          <p>We offer multiple, technologically based services </p>

      </div>

      <div class="one-third column feature">



          <h5>About Us</h5>
          <p>We are blah blah blah </p>

      </div>

      <div class="one-third column feature">



          <h5>Contact</h5>
          <p>You deserve quick answers. Our customer support team is always ready to tackle any question or concern.</p>

      </div>

     </div>
  </div>
  </div>
   <div class="row">
    <div class="three columns text">
      <h3>Recent Insights</h3>
      <a href='#'><p>Italian Military Prepares for Cyber Combat</p></a>
      <a href='#'><p>The New Era of On-Demand Cloud Security</p></a>
      <a href='#'><p>Securing Manufacturers in a Connected World</p></a>
    </div>
    <div class="nine columns text">
      <h3>Insights</h3>
      <p>Certain types of businesses, such as financial services firms, have faced cybersecurity threats for decades. Many manufacturing sectors haven’t experienced as great an impetus to establish comprehensive cybersecurity capabilities. Some segments, such as aerospace, defense, automotive and chemical, due to safety or national security concerns, have an edge on others when, not that long ago, securing assets was almost as simple as posting a guard at the plant door.
      Stuxnet, which was discovered in 2010, changed that perception, and the manufacturing industry’s focus on securing industrial control systems (ICS) began to mature. The Stuxnet worm, which was used to ultimately destroy the SCADA systems controlling Iranian nuclear centrifuges, proved that weapons-grade malware could be an effective offensive strategy and, if customized for its target, that software could effectively and permanently damage production.</p>

    </div>
  </div>



  </div>







</div>


