
<div class="container content" style="margin-top: auto">
  <div class="row">
    <div class="twelve columns text">
      <h3>The Mission</h3>
      <p>Today’s world is more interconnected than ever before. Yet, for all its advantages, increased connectivity brings increased risk of theft, fraud, and abuse. As Americans become more reliant on modern technology, we also become more vulnerable to cyberattacks such as corporate security breaches, spear phishing, and social media fraud. Complementary cybersecurity and law enforcement capabilities are critical to safeguarding and securing cyberspace.....
      </p>
    </div>
  </div>
  <div class="row" >
    <div class="one-third column feature">

        <h2>Services</h2>

    </div>

    <div class="one-third column feature">



        <h2>About</h2>

    </div>

    <div class="one-third column feature">



        <h2>Contact</h2>

    </div>

   </div>
   <div class="row">
    <div class="three columns text">
      <h3>Recent Insights</h3>
      <a href='#'><p>Italian Military Prepares for Cyber Combat</p></a>
      <a href='#'><p>The New Era of On-Demand Cloud Security</p></a>
      <a href='#'><p>Securing Manufacturers in a Connected World</p></a>
    </div>
    <div class="nine columns text">
      <h3>Insights</h3>
      <p>Certain types of businesses, such as financial services firms, have faced cybersecurity threats for decades. Many manufacturing sectors haven’t experienced as great an impetus to establish comprehensive cybersecurity capabilities. Some segments, such as aerospace, defense, automotive and chemical, due to safety or national security concerns, have an edge on others when, not that long ago, securing assets was almost as simple as posting a guard at the plant door.
      Stuxnet, which was discovered in 2010, changed that perception, and the manufacturing industry’s focus on securing industrial control systems (ICS) began to mature. The Stuxnet worm, which was used to ultimately destroy the SCADA systems controlling Iranian nuclear centrifuges, proved that weapons-grade malware could be an effective offensive strategy and, if customized for its target, that software could effectively and permanently damage production.</p>

    </div>
  </div>



  </div>







</div>


