<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Pentexoire Consulting</title>
<meta name="description" content="Pentexoire consulting">
<meta name="author" content="Staunton Sample">
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



</head>
<body>
 <div class="container">
    <section class='header'>
      <div class='row'>
        <div class="one-third column" style="margin-top: 1%; ">
          <div class="image-center">
          <img id="greyboat" src="/img/PentexoireConD39aR03aP01ZL-Roosevelt3a grey.png">
          </div>
        </div>

        <!-- row -->
     </div>
     <div class='row'>
      <div class="eight columns " style="margin-top: 3%">
        <nav>
          <ul>
            <li class="navbar">
              <a href='/'>Home</a>
            </li>
            <li class="navbar">
              <a href='#'>About</a>
            </li>
            <li class="navbar">
              <a href='#'>Services</a>
            </li>
            <li class="navbar">
              <a href='#'>Contact</a>
            </li>
          </ul>
        </nav>
        <!-- nav -->
        </div>
        <!-- nav row -->
     </div>

    <!-- header -->
    </section>

   <!-- container    -->
  </div>






  <%= yield %>

</body>


</html>
