<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Pentexoire Consulting</title>
<meta name="description" content="Pentexoire consulting">
<meta name="author" content="Staunton Sample">
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



</head>
<body>
<div class='header_wrap'>
 <div class="container">
    <section class='header'>
      <div class='row'>
        <div class="five columns">
          <div class="image-center">
          <img id="greyboat" src="/img/PentexoireConD39aR03aP01ZL-Roosevelt3a grey.png">
          </div>
        </div>
        <div class="seven columns">
            <nav>
              <ul>

                <li class="navbar">
                  <a href='#'>About</a>
                </li>
                <li class="navbar">
                  <a href='#'>Services</a>
                </li>
                <li class="navbar">
                  <a href='#'>Insights</a>
                </li>
                <li class="navbar">
                  <a href='#'>Contact</a>
                </li>
              </ul>
             </nav>
        </div>


        <!-- row -->
     </div>


    <!-- header -->
    </section>

   <!-- container    -->
  </div>
</div>






  <%= yield %>

</body>


</html>
