<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  

  <title>Pentexoire Consulting</title>
</head>
<body>
 <div id="container">
    <div id='header'>
      <div id='logo'>
        <img id="greyboat" src="/img/PentexoireConD39aR03aP01ZL-Roosevelt3a grey.png"
      </div>
    </div>  
      <div class="nav_space">
        <nav>
        <ul>
        <li class="navbar"> <a href='/'>Home</a></li>
        <li class="navbar"> <a href='#'>About</a></li>
        <li class="navbar"> <a href='#'>Services</a></li>
        <li class="navbar"> <a href='#'>Contact</a></li>
        <li class="navbar"> <a href='#'>Users</a></li>
    
    
     
        </nav>
      </div> 
  </div>
  
    
    
  
 

  <%= yield %></div>
  <div id='bigmap'>
  
  </div>
</body>


</html>
