<h2>Login</h2>

<form id="post_form" action="/users/login" method="post">
  <label for="user_name">Username:</label><br>
  <input type="text" name="user_name" ><br>

  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>

  <input type="submit"  value="Login"><br>
</form>