<form id="post_form" action="/posts" method="post">
  <label for="title">Title:</label><br>
  <input type="text" name="title" ><br>

  <label for="message">Message:</label><br>
  <textarea name="message"></textarea><br>

  <input type="submit"  value="Submit Post"><br>
</form>
