<h3 id="title">All Posts</h3>

<h6 id="title">Search Posts</h6>
<form id="title" action="/posts/search" method="post">
<input type="text" name="search" ><br>
<input type="submit"  value="Search"><br>
</form>

<% @posts.each do |post| %>
  <h4>Title</h4>
  <%= post.title %>
  <h4>Message</h4>
  <%= post.message %><br><br>
<% end %>

