<h2>Sign up</h2>

<form id="post_form" action="/users" method="post">
  <label for="first_name">First Name:</label><br>
  <input type="text" name="first_name" ><br>

  <label for="last_name">Last Name:</label><br>
  <input type="text" name="last_name" ><br>

  <label for="email">Email:</label><br>
  <input type="text" name="email" ><br>

  <label for="user_name">Username:</label><br>
  <input type="text" name="user_name" ><br>

  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>

  <input type="submit"  value="Login"><br>
</form>